.auth__title {
  margin: 40px 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: start;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .auth__title {
    text-align: center;
    margin: 50px 0 80px 0;
  }
}
