.page {
  box-sizing: border-box;
  background: purple;
  max-width: 1360px; /*!!!!*/
  margin: auto;
}

.page > * {
  padding: 0 70px;
}

@media screen and (max-width: 1024px) {
  .page > * {
    padding: 0 30px;
  }
}

@media screen and (max-width: 600px) {
  .page > * {
    padding: 0 15px;
  }
}
