@import url(./__marker/account-btn__marker.css);
@import url(./__text/account-btn__text.css);

.account-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: none;
  grid-column: 1 / -1;
  padding: 0;
  text-decoration: none;
  color: black;
  max-width: 100px;
  max-height: 1em;
}
