@import url(./normalize.css);

.page {
  box-sizing: border-box;
  background: purple;
  max-width: 1360px; /*!!!!*/
  margin: auto;
}

.page > * {
  padding: 0 70px;
}

.block {
  background: white;
}

.block__element {
  color: red;
}

/* header */

.header {
  background: #073042;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* header__logo */
.header__logo {
}

/* header__nav */
.header__nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

/* header__menu */
.header__menu {
}

.header__menu_align-right {
  margin-left: auto;
}
/* header__button */
.header__button {
  background: none;
  border: none;
}

.header__button_type-login {
  color: white;
  background-color: #2be080;
  width: 76px;
  height: 32px;
  border-radius: 3px;
}

.header__button_type-signup {
  color: black;
}

/* promo */
.promo {
  background: #073042 no-repeat center;
  background-image: url(pic__COLOR_landing-logo.svg);
  background-size: 320px;
  background-position-y: 82px;
  height: 524px;
  display: flex;
}

.promo__title {
  color: white;
  width: 730px;
  text-align: center;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: 184px auto;
}

/* navtab */

.navtab {
  color: white;
  background-color: black;
  padding: 24px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.navtab__menu {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  max-width: 276px;
}

.nabtab__link {
  text-decoration: underline;
}

/* aboutproject */

.aboutproject {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 110px;
}

.aboutproject__title {
  padding-bottom: 23px;
  border-bottom: 1px black solid;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.aboutproject__infoblock {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.aboutproject__process {
  margin-top: 110px;
}

/* infoblock */

.infoblock {
  max-width: 550px;
}

.infoblock__subtitle {
  margin-bottom: 26px;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

.infoblock__info {
  font-size: 14px;
  line-height: 20px;
}

/* process */

.process {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.process__week {
  text-align: center;
}

.process__title {
  font-size: 14px;
  line-height: 17px;
  padding: 9px 0;
}

.process__title_color-green {
  background: #2be080;
}

.process__title_color-gray {
  background: #f2f2f2;
}

.process__info {
  font-family: Suisse Intl;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #a0a0a0;
  padding: 14px 0;
}

/* techs */

.techs {
  background-color: #f5f5f5;
  padding-top: 100px;
  padding-bottom: 100px;
}

.techs__header {
  padding-bottom: 23px;
  border-bottom: 1px black solid;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.techs__title {
  margin-top: 90px;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
}

.techs__subtitle {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.04em;
  max-width: 460px;
  margin: 26px auto 100px auto;
}

.techs__list {
  padding: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  max-width: 690px;
  gap: 10px;
  list-style-type: none;
}

.techs__tech {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 20px 0;
  box-sizing: border-box;
  background: #e8e8e8;
  border-radius: 10px;
}

/* aboutme */

.aboutme {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}

.aboutme__header {
  padding-bottom: 23px;
  border-bottom: 1px black solid;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

.aboutme__bio {
  margin-top: 66px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 327px;
}

.aboutme__info {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.aboutme__avatar {
  object-fit: cover;
  width: 270px;
  height: 100%;
  border-radius: 10px;
}

.aboutme__name {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin-bottom: 18px;
}

.aboutme__job {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 26px;
}

.aboutme__decs {
  font-size: 14px;
  line-height: 22px;
}

.aboutme__list {
  padding: 0;
  margin: 0;
  margin-top: auto;
  list-style-type: none;
  display: flex;
}

.aboutme__link:first-child {
  margin-left: 0;
}

.aboutme__link {
  margin-left: 20px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

/* portfolio */

.portfolio {
  background-color: white;
  padding-bottom: 125px;
}

.portfolio__header {
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin-bottom: 50px;
}

/* link-list */

.link-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.link-list__element {
  border-bottom: 1px #e8e8e8 solid;
  padding-bottom: 0.6rem;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.link-list__marker {
  height: 1rem;
}
