/* normalizer */
@import url(./vendor/normalize.css);

/*fonts*/
@import url(./vendor/fonts/Inter/inter.css);

/* main blocks */
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/promo/promo.css);
@import url(./blocks/navtab/navtab.css);
@import url(./blocks/aboutproject/aboutproject.css);
@import url(./blocks/infoblock/infoblock.css);
@import url(./blocks/process/process.css);
@import url(./blocks/techs/techs.css);
@import url(./blocks/aboutme/aboutme.css);
@import url(./blocks/portfolio/portfolio.css);
@import url(./blocks/link-list/link-list.css);
@import url(./blocks/footer/footer.css);

/*mods*/
@import url(./blocks/header/_color/header_color-blue.css);

/*movies*/
@import url(./blocks/account-btn/account-btn.css);
@import url(./blocks/custom-checkbox/custom-checkbox.css);
@import url(./blocks/menubtn/menubtn.css);
@import url(./blocks/moviecard/moviecard.css);
@import url(./blocks/moviecardlist/moviecardlist.css);
@import url(./blocks/searchform/searchform.css);
@import url(./blocks/switch/switch.css);

/* register,login */
@import url(./blocks/profile/profile.css);
@import url(./blocks/auth/auth.css);
@import url(./blocks/form/form.css);
@import url(./blocks/auth/__btn/_action/auth__btn_action-redirect.css);
@import url(./blocks/auth/__btn/_action/auth__btn_action-submit.css);

/* error */
@import url(./blocks/error/error.css);

html {
  scroll-behavior: smooth;
}

button{
  cursor: pointer;
}

input{
  outline: none;
}

.navigation {
  padding-top: 159px;
  padding-bottom: 98px;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 2;
  height: 100vh;
  width: 68vw;
  justify-content: space-between;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  box-sizing: border-box;
  align-items: center;
}

@media screen and (min-width: 801px) {
  .navigation {
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .navigation {
    width: 100%;
    padding-top: 144px;
    padding-bottom: 40px;
  }
}

.navigation__links {
  display: grid;
  gap: 22px;
  align-content: start;
  justify-items: center;
}

@media screen and (max-width: 600px) {
  .navigation__links {
    gap: 20px;
  }
}


.navigation__link {
  background: none;
  border: none;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  align-self: center;
  color: black;
  padding-bottom: 4px;
}

@media screen and (max-width: 600px) {
  .navigation__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }
}

.navigation__link_decoration-underline {
  border-bottom: 2px black solid;
}

.navigation__close {
  position: fixed;
  border: none;
  padding: 0;
  background: center no-repeat;
  /* background-image: url("../../../images/menuicon__close.svg"); */
  background-image: url("./images/menuicon__close.svg");
  width: 22px;
  height: 22px;
  top: 26px;
  right: 27px;
  background-size: 33px 33px;
}
