.footer__link:first-child {
  margin: 0;
}

.footer__link {
  margin-left: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .footer__link {
    margin: 0;
    margin-top: 12px;
  }
}
