@import url(./__title/aboutproject__title.css);
@import url(./__process/aboutproject__process.css);
@import url(./__infoblock/aboutproject__infoblock.css);

.aboutproject {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 110px;
}

@media screen and (max-width: 1024px) {
  .aboutproject {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 600px) {
  .aboutproject {
    padding: 70px 18px;
  }
}

.aboutproject__title {
  padding-bottom: 23px;
  border-bottom: 1px black solid;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 600px) {
  .aboutproject__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
  }
}

.aboutproject__infoblock {
  margin-top: 70px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media screen and (max-width: 600px) {
  .aboutproject__infoblock {
    margin-top: 60px;
    flex-direction: column;
    grid-template-columns: 1fr;
    justify-items: center;
    gap: 56px;
  }
}

.aboutproject__process {
  margin-top: 110px;
}

@media screen and (max-width: 1024px) {
  .aboutproject__process {
    margin-top: 93px;
  }
}

@media screen and (max-width: 600px) {
  .aboutproject__process {
    margin-top: 60px;
  }
}
