@import url(./__breakline/profile__breakline.css);
@import url(./__btn/profile__btn.css);
@import url(./__controlls/profile__controlls.css);
@import url(./__fieldname/profile__fieldname.css);
@import url(./__form/profile__form.css);
@import url(./__input/profile__input.css);
@import url(./__title/profile__title.css);

@import url(./__btn/_action/profile__btn_action-edit.css);
@import url(./__btn/_action/profile__btn_action-logout.css);

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  box-sizing: border-box;
  max-width: 60%;
  height: 89vh;
  padding: 70px 0 70px 0;
  width: 100%;
}

@media screen and (max-height: 1000px) {
  .profile {
    height: 89vh;
    padding: 226px 0 267px 0;
    height: 94vh;
  }
}

@media screen and (max-width: 1024px) {
  .profile {
    padding: 65px 0 40px 0;
    height: 90vh;
    max-width: 80%;
  }
}
