.moviecard__info {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
  padding: 15px 12px 15px 12px;
  box-sizing: border-box;
  gap: 10px;
  z-index: 2;
  background-color: #fdfdfd;
}
