@import url(./__info/infoblock__info.css);
@import url(./__subtitle/infoblock__subtitle.css);

.infoblock {
  max-width: 550px;
}

@media screen and (max-width: 1024px) {
  .infoblock {
    max-width: 319px;
  }
}

@media screen and (max-width: 600px) {
  .infoblock {
    max-width: unset;
  }
}